@mixin display_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin display_flex_at_start {
    display: flex;
    align-items: flex-start;
}
@mixin display_flex_at_end {
    display: flex;
    flex-direction: row-reverse;
}
$color_primary : #58402C;
$color_sign: #2C4792;